<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete Registration</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: #ffffff;
      line-height: 1.5;
      border: 0.1rem solid #f6f6f6;
    "
  >
    <div>
      <img
        style="margin-top: 15px; width: 10%; background-size: cover; display: inline-block"
        class="logo"
        src="algofanatics-logo"
        alt="algofanatics logo"
      />
    </div>
    <div
      style="
        height: 3.125vw;
        max-height: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #2a286a;
      "
      class="pebbleScore"
    >
      Algofanatics
    </div>
    <div style="margin-top: 15px; border: 0.1rem solid #ffd338"></div>
    <div
      style="
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #416475;
      "
      class="greeting"
    >
      Hi {{username}},
    </div>
    <div
      style="
        font-family: 'Inter';
        font-style: normal;
        font-weight: 00;
        font-size: 16px;
        color: #416475;
      "
      class="greeting"
    >
      Kindly click on the link below to verify your email address.
    </div>
    <a href="{{LINK}}" style="text-decoration: none">
      <button
        style="
          cursor: pointer;
          margin-top: 25px;
          margin-bottom: 25px;
          padding: 2px 10px;
          font-family: 'Inter';
          font-style: normal;
          font-size: 10;
          line-height: 4.2vw;
          color: #ffffff;
          background-color: #2a286a;
          border: none;
          border-radius: 4px;
        "
      >
        Verify Email Address
      </button>
    </a>
    <div style="margin-top: 15px; margin-bottom: 23.8125px; border: 0.1rem solid #ffd338"></div>
    <div style="margin-top: 2.5rem; margin-bottom: 0.5rem">
      <a
        href="https://twitter.com/pebblescore"
        style="margin: 0.2rem; padding: 0.2rem; text-decoration: none"
      >
        <img
          src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1684003516/samples/mobile%20app/twitter_logo_bmvxbg.png"
          alt="Twitter"
          style="width: 0.9rem; height: 0.9rem"
        />
      </a>
      <a
        href="https://www.facebook.com/search/top?q=pebblescore"
        style="margin: 0.2rem; padding: 0.2rem; text-decoration: none"
      >
        <img
          src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1684003516/samples/mobile%20app/facebook_logo_xbw776.png"
          alt="Facebook"
          style="width: 0.9rem; height: 0.9rem"
        />
      </a>
      <a
        href="https://www.linkedin.com/company/pebblescore/"
        style="margin: 0.2rem; padding: 0.2rem; text-decoration: none"
      >
        <img
          src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1684003516/samples/mobile%20app/linkedin_logo_y1xuok.png"
          alt="linkedin"
          style="width: 0.9rem; height: 0.9rem"
        />
      </a>
    </div>
    <footer
      style="
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        height: 2rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: #7f7ea6;
      "
    >
      <p>Copyright &copy; {{DATE}} Pebblescore</p>
    </footer>
  </body>
</html>
