<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Complete Registration</title>
</head>
<body style="margin: 0; padding: 0; text-align: center; background-color: #ffffff; line-height: 1.5; border: 0.1rem solid #f6f6f6;">
  <div style="margin-top: 15px;">
    <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1683010702/samples/mobile%20app/PebbleScore_logo_no_name_zsex0f.png" alt="PebbleScore Logo" style="width: 10%; background-size: cover; display: inline-block;">
  </div>
  <div style="height: 3.125vw; max-height: 16px; font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 16px; color: #2a286a;">
    PebbleScore
  </div>
  <div style="margin-top: 15px; border: 0.1rem solid #ffd338;"></div>
  <div style="margin-top: 15px; margin-bottom: 10px; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 16px; color: #416475;">
    It’s a great delight having you on-board.<br>
    With PebbleScore you can achieve three major things:<br>
    <br>
    Check your credit reports every month to keep track of updates.<br>
    Build your credit history to get access to lower interest loans.<br>
    Get first-hand information of the best loan offers in Nigeria.<br>
    <br>
    To learn more about your credit score, credit building, and everything in between, join the PebbleScore Whatsapp community where there is never a dull moment.<br>
  </div>
  <a href="https://bit.ly/3lemssr" style="margin-top: 25px; margin-bottom: 25px; text-decoration: none;">
    <button style="padding: 2px 10px; font-family: 'Inter'; font-style: normal; font-size: 10px; color: #ffffff; background-color: #2A286A; border: none; border-radius: 4px;">
      Join Community
    </button>
  </a>
  <div style="font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 16px; color: #416475; margin-top: 15px;">
    If you have any questions, kindly contact us at<br>
    hi@pebblescore.com<br>
  </div>
  <div style="height: 3.125vw; font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 14px; color: #2a286a;">
    PebbleScore Support Team
  </div>
  <div style="margin-top: 15px; border: 0.1rem solid #ffd338;"></div>
  <div style="margin-top: 2.5rem; margin-bottom: 0.5rem">
    <a href="https://twitter.com/pebblescore" style="margin: 0.2rem; padding: 0.2rem;text-decoration: none">
      <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1684003516/samples/mobile%20app/twitter_logo_bmvxbg.png" alt="Twitter" style="width: 0.9rem; height: 0.9rem">
    </a>
    <a href="https://www.facebook.com/search/top?q=pebblescore" style="margin: 0.2rem; padding: 0.2rem;text-decoration: none">
      <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1684003516/samples/mobile%20app/facebook_logo_xbw776.png" alt="Facebook" style="width: 0.9rem; height: 0.9rem">
    </a>
    <a href="https://www.linkedin.com/company/pebblescore/" style="margin: 0.2rem; padding: 0.2rem;text-decoration: none">
      <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1684003516/samples/mobile%20app/linkedin_logo_y1xuok.png" alt="linkedin" style="width: 0.9rem; height: 0.9rem">
    </a>
  </div>
  <footer style="margin-top: 1rem; margin-bottom: 0.5rem; height: 2rem; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 1; color: #7f7ea6;">
    <p>Copyright &copy; {{DATE}} Pebblescore</p>
  </footer>
</body>
</html>
